@font-face {
  font-family: 'SharedTechMono';
  src: url(/src/assets/fonts/ShareTechMono-Regular.woff) format('woff');
}

html,
body {
  font-size: 12px;
  font-family: 'ShareTecMono', monospace;
}

.container {
  width: 100vw;
}

.content {
  width: 100%;
}

input,
select {
  border-width: 0 !important;
  border-radius: 0 !important;
}
